<p id="notice"><%= notice %></p>

<p>
  <strong>Path:</strong>
  <%= @smartpage.path %>
</p>

<%= link_to 'Edit', edit_smartpage_path(@smartpage) %> |
<%= link_to 'View All Smartpages', smartpages_path %>
