<h2>Welcome to Thrive!</h2>

<a href="https://frontend-management-stage.tcapi.io/">Navigate to our Promotions Manager to create a new Promotions Center!</a>

<p>To manage your Smartpages in Shopify, use the links below:</p>

<%= link_to 'New Smartpage', new_smartpage_path %> | 
<%= link_to 'View All Smartpages', smartpages_path %>
